<div class="row">
  <div class="col-12 col-md-3">
    <%= render partial: 'rooms' %>
  </div>

  <div class="col">
    <div class="alert alert-primary">
      <h4 class="alert-heading">
        Welcome to my Chatapp!
      </h4>

      <p>
        You need to talk?
      </p>

      <hr />

      <p>
        You can create a room from the blue button.
      </p>
    </div>
  </div>
</div>